html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    min-width: 400px;
    margin: 2rem 3rem;
}

@media screen and (width < 900px) {
    html {
        font-size: 12px;
    }
}

@media screen and (width < 600px) {
    html {
        font-size: 8px;
    }
}
