:root {
    --primary-dark-color: #394648;
    --primary-light-color: #EFF2F1;
    --primary-color: #554CA9;
    --primary-highlight-color: #FFD400;
    --primary-error-color: #9C1C24;
    --primary-text-color: var(--primary-dark-color);
    --primary-bg-color: var(--primary-light-color);
    --primary-border-color: var(--primary-dark-color);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    box-sizing: border-box;
}

html * {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--primary-text-color);
}

button:hover {
    cursor: pointer;
}

main {
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 400px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: var(--primary-light-color);
        --primary-bg-color: var(--primary-dark-color);
        --primary-border-color: var(--primary-light-color);
    }
    html {
        border-color: var(--primary-light-color);
    }
}
